body {
	background-color: #eee;
}

#mainJumbo {
	background-image: url('../assets/images/background.jpg');
}

#templateContainer {
	margin-top: 25px;
}

.buttonFonts {
	font-size: 15pt;
}

#attitude {
	width: inherit;
	display: inline;
}

#newCharacterForm {
	margin-bottom: 30px;
}

.characterName {
	cursor: pointer;
}