<form class="col-md-8 col-md-offset-2" id="newCharacterForm">
  <div class="form-group">
    <label for="characterName">Character Name</label>
    <input type="text" class="form-control" id="characterName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="characterImage">Link to Image</label>
    <input type="text" class="form-control" id="characterImage" placeholder="Link to Image">
  </div>
  <div class="form-group">
    <label for="coolnessPoints">Coolness Points</label>
    <input type="text" class="form-control" id="coolnessPoints" placeholder="Coolness Points">
  </div>
  <div class="form-group">
    <label for="attitudeInput">Attitude</label>
    <input type="text" class="form-control" id="attitudeInput" placeholder="Attitude">
  </div>
  <div class="form-group">
  	<label for="characterDesc">Character Description</label>
  	<textarea class="form-control" id="characterDesc" rows="3" placeholder="Description"></textarea>
  </div>
  <a href="javascript:void(0)" id="submitCharacter" class="btn btn-success pull-right">Submit Character</a>
</form>